language: go
sudo: true
go:
- 1.12.x

env:
  global:
    - GORELEASER_VERSION=0.104.3
    - ARIANG_VERSION="1.0.3"
    - UPXVER="3.94"
before_install:
  - wget https://github.com/mayswind/AriaNg/releases/download/${ARIANG_VERSION}/AriaNg-${ARIANG_VERSION}.zip && unzip -q AriaNg-${ARIANG_VERSION}.zip -d AriaNg
  - wget https://github.com/goreleaser/goreleaser/releases/download/v${GORELEASER_VERSION}/goreleaser_amd64.deb
  - sudo dpkg -i goreleaser_amd64.deb
  - |
    if [[ ! -f "./upx" ]]
    then
      echo "Installing upx .."
      curl -OL "https://github.com/upx/upx/releases/download/v${UPXVER}/upx-${UPXVER}-amd64_linux.tar.xz"
      tar xvf "upx-${UPXVER}-amd64_linux.tar.xz"
      cp "upx-${UPXVER}-amd64_linux/upx" "./"
    fi
  - ls -al
  - upx --version | grep -E '^upx'
  - upx --version
  - chmod +x upx.sh
  - ls -al
  - go get -u -v github.com/UnnoTed/fileb0x
  - go install github.com/UnnoTed/fileb0x

script:
  - goreleaser --skip-validate --skip-sign --debug

branches:
  only:
    - master
