version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13
        environment:
          GO111MODULE: on
          GORELEASER_VERSION: 0.120.2
          ARIANG_VERSION: 1.1.4
          UPXVER: 3.94
    parallelism: 1
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: install goreleaser
          command: wget https://github.com/goreleaser/goreleaser/releases/download/v${GORELEASER_VERSION}/goreleaser_amd64.deb && sudo dpkg -i goreleaser_amd64.deb

      - run:
          name: install AriaNg
          command: wget https://github.com/mayswind/AriaNg/releases/download/${ARIANG_VERSION}/AriaNg-${ARIANG_VERSION}.zip && unzip -q AriaNg-${ARIANG_VERSION}.zip -d AriaNg

      - run:
          name: install fileb0x
          command: |
            export GO111MODULE=on
            go get -u -v github.com/UnnoTed/fileb0x
            go install github.com/UnnoTed/fileb0x

      - run:
          name: installing upx
          environment:
            BASH_ENV: /home/circleci/.bashrc
          command: |
            echo "Installing upx .."
            export GO111MODULE=on
            echo $(go env GOPATH)
            cp /home/circleci/project/README.md $(go env GOPATH)
            curl -OL "https://github.com/upx/upx/releases/download/v${UPXVER}/upx-${UPXVER}-amd64_linux.tar.xz"
            tar xvf "upx-${UPXVER}-amd64_linux.tar.xz"
            ls -al
            pwd
            cp "upx-${UPXVER}-amd64_linux/upx" /home/circleci/project/
            echo 'export PATH=/home/circleci/project:$PATH' >> $BASH_ENV
            source /home/circleci/.bashrc
            cat /home/circleci/.bashrc
            ls -al
            upx --version
            chmod +x upx.sh
            ls -al

      - run:
          name: Run build
          command: |
            export GO_VERSION="$(go version)"
            export BUILT_BY="$(whoami)@$(hostname)"
            goreleaser release --skip-validate --skip-sign --debug

      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

workflows:
  version: 2
  build-workflow:
    jobs:
      - build